{# src/AppBundle/Resources/views/Default/addItem.html.twig #}

{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="text-center h2">Form Item</div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
