{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="text-center h2">Forms List</div>

        </div>

        <div class="col-md-6">
            <div class="h2">Actions</div>
            <p>
                <a href="{{ path('create_form') }}" class="btn btn-default">
                    <i class="glyphicon glyphicon-plus"></i>
                    New Form
                </a>
            </p>
        </div>

    </div>

{% endblock %}