{# AppBundle:forms:useForm.html.twig #}
{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="text-center h2">Form</div>
            {{ geny_form(id, form) }}

        </div>
    </div>
{% endblock %}