{# AppBundle:Default:viewSetDataForm.html #}
{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <div class="row">

        <div class="col-md-6">
            <div class="text-center h2">Data Set {{id}}</div>
        </div>
    </div>
            
{% endblock %}
