{# src/AppBundle/Resources/views/Default/addItem.html.twig #}

{% extends 'FuzQuickStartBundle::layout.html.twig' %}

{% block body %}

    <div>

        {# On affiche tous les messages flash dont le nom est « notice » #}

        {% for message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success" role="alert">
                <p>{{ message }}</p>
            </div>
        {% endfor %}

    </div>

    <h2>{{ item.name }}</h2>

    <div class="well">
        <p>{{ item.description }}</p>
    </div>




{% endblock %}
